.body {
    justify-content: center;
}

.body h1 {
	font-size: 2vw;
	margin: 0 3vw 1vh;
    color: brown;
}
.body a {
    font-size: 20px;
    transition: ease all 0.5s;
    text-decoration: underline;
    color: #344664;
}

.body p{
	font-size: 1vw;
    color: black;
    padding-bottom: 20px;
    margin-left: auto;
    margin-right: auto;
}

.body h1 {
	font-size: 2vw;
    color: brown;
    text-align: center;
    background: rgba(240, 246, 255,0.7);
	padding: 20px;
	border-radius: 10px;
    justify-content:baseline;
}

.body .bloc {
    /*background: rgba(43, 99, 183, 0.7);*/
	padding: 20px;
	border-radius: 10px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    justify-content: center;
    height: 60%;
}

#floppaMachine img
{
    height: 50vh;
}

.body a:hover {
    color: rgb(255, 160, 36);;
}

.result
{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}

#return-button
{
    background-color: white;
    padding: 2%;
    border-radius: 10px;
}

.result img
{
    max-height: 40vh;
    max-width: 40vw;
}