{% extends "layout.html" %}

{% block link %}
            <link rel="stylesheet" href="{{ url_for('static', filename='styles/looser.css') }}"/>
{% endblock %}

{% block body%}

<div class="bloc">
    <div id="the-end">
        <div><p>Désolé {{ username }},</p></div>
        <div><p>Vous avez accumulé trois fragments de Bingus.</p></div>
        <div><p>Bingus n'est malheureusement pas autorisé à rester sur ce site.</p></div>
        <div><p>Votre compte a été corrompu par le mal, il faut le détruire !</p></div>
        <div><p>Pour le bien de tous, votre compte a été supprimé, et aucun retour en arrière n'est possible.</p></div>
    </div>
    
    <div id="floppa-pic">
        <img src="{{url_for('static',filename='media/crying_flopp.jpg')}}">
    </div>
    
    <a href="{{ url_for('register')}}">
        <div class="exit-button">    
            <p>Créez un nouveau compte ici</p>
        </div>
    </a>

    <a href="{{ url_for('index')}}">
        <div class="exit-button">    
            <p>Retour à l'accueil</p>
        </div>
    </a>

</div>

<script type="text/javascript">
        setTimeout(() => {document.getElementById("the-end").children[0].style.visibility="visible";} , 1500);
        setTimeout(() => {document.getElementById("the-end").children[1].style.visibility="visible";} , 2500);
        setTimeout(() => {document.getElementById("the-end").children[2].style.visibility="visible";} , 3500);
        setTimeout(() => {document.getElementById("the-end").children[3].style.visibility="visible";} , 4500);
        setTimeout(() => {document.getElementById("the-end").children[4].style.visibility="visible";} , 5500);
        setTimeout(() => {document.getElementById("the-end").children[4].style.visibility="visible";} , 6500);
        setTimeout(() => {document.getElementById("floppa-pic").style.visibility="visible";} , 7500);
    </script>

{% endblock %}