{% extends "layout.html" %}

{% block link %}
            <link rel="stylesheet" href="{{ url_for('static', filename='styles/about.css') }}">
{% endblock %}*

{% block body %}
<div class="bloc">
    <h2>What is flopple ?</h2>
    <p>
        flopple is a parody of Wordle based on the meme "Big Floppa".

        <br/>New on flopple ? <a href="{{url_for('register')}}">Create an account</a> !
    </p>

    <h2>How to play ?</h2>
    <p>Create an account and then choose the number of letters and the number of tries you want <br/>
    You will earn more if you take some risks !<br/>
    Try to guess the word based on the letter colors (I know you already know how Wordle works)<br/>
    Win and you will earn some Floppa Coins<br/>
    Lose, and you will get a Bingus fragment<br/>
    We WILL delete your account if you get 3 fragments<br/>
    You can spend your coins in the vending machine to get some rare caracal images<br/>
    The more you spend, the more it is likely that you will get something rare<br/>
    You can then go to the gallery to see your collection<br/>
</div>
{% endblock %}