{% extends "layout.html" %}

{% block link %}
            <link rel="stylesheet" href="{{ url_for('static', filename='styles/about.css') }}">
{% endblock %}*

{% block body %}
<div class="bloc">
    <h2>Flopple, qu'est ce que c'est ?</h2>
    <p>
        Flopple est une parodie de Wordle sur le thème de Big Floppa.

        <br/>Nouveau sur Flopple ? <a href="{{url_for('register')}}">Inscrivez-vous</a> !
    </p>

    <h2>C'est quoi le principe ?</h2>
    <p>Inscrivez-vous et accédez au jeu. <br/>
    Essayez de deviner le mots à l'aide des couleurs.<br/>
    Gagnez, et vous obtiendrez une image de Big Floppa<br/>
    Perdez, et vous obtiendrez un fragment de Bingus<br/>
    Croyez nous, vous ne voudriez pas avoir 3 fragments ...<br/><br/>
    Attention, il faut être inscrit pour jouer !</p>
</div>
{% endblock %}