{% extends "layout.html" %}

{% block link %}
            <link rel="stylesheet" href="{{ url_for('static', filename='styles/index.css') }}">
{% endblock %}*
{% block body%}
<div class="bloc">
	<h1> Sheeeeeeeesh </h1>
	<div class="input">
		<div class="post">
			<strong>Flopple</strong>
            {% for word, result in data %}
                <p>{{word}}</p>
                <p>{{result}}</p>
            {% endfor %}
			<p>Entrez un mot</p>
			<form action="/tryWord/{{ idG }}/{{ leftT }}" method="POST">
				<input type="text" id="tryWord" name="tryWord">
				<button type="submit">Envoyer</button>
			</form>
		</div>	
	</div>
</div>
{% endblock %}