{% extends "layout.html" %}

{% block link %}
            <link rel="stylesheet" href="{{ url_for('static', filename='styles/index.css') }}">
{% endblock %}
{% block body%}
<div class="bloc">
	<h1>Wordle with Big Floppa</h1>
	<div class="input">
		<div class="post">
			<strong>Start a game :</strong>
			{% if isLoggedIn =="true" %}
			<form action="{{url_for('joinGame')}}" method='POST'>
				<div class="field">
					<p>Nuber of letter per words</p>
					<select name="length" id="length">
						<option value="3">3</option>
						<option value="4">4</option>
						<option value="5" selected>5</option>
						<option value="6">6</option>
						<option value="7">7</option>
						<option value="8">8</option>
						<option value="9">9</option>
						<option value="10">10</option>
						<option value="11">11</option>
						<option value="12">12</option>
					</select>
					<p>Number of tries</p>
					<select name="tries" id="tries">
						<option value="3">3</option>
						<option value="4">4</option>
						<option value="5">5</option>
						<option value="6">6</option>
						<option value="7" selected>7</option>
					  </select>
					<input type="hidden" name="submit" value="Commencer">
					<p><input type="submit" value="Play"></p>
					<p>
						<br/>Not enough words ? <a href="{{url_for('addWord')}}">Add one in the dictionary !</a>
					</p>
				</div>
			</form>
			{% else %}
			<p><br/>You must have an account to play to flopple</p>
			<p><br/>You can see the rules <a href="{{url_for('about')}}">here</a></p>
			<p><br/></p>
			{% endif %}
			
		</div>	
	</div>
</div>
{% endblock %}