<!DOCTYPE html>
<html lang="fr">
	<head>
		<meta charset="utf-8" view="viewport" content="width=device-width, initial-scal=1">
		<title>Flopple</title>
            <link rel="icon" sizes="192x192" href="{{ url_for('static',filename='media/logo.png') }}" />
            <link rel="stylesheet" href="{{ url_for('static',filename='styles/style.css') }} " />
            {% block link %}{% endblock %}
    </head>
	<body>
        <div id="main">    
            {% if alert_message %}
                <div class="alert_and_corps">
                    <div class="alert">
                        <span class="closebutton" onclick="this.parentElement.style.display='none';">&times;</span>
                        {{alert_message}}
                    </div>
                </div>
            {%endif%}
        
        <!-- HEADER -->
        <!-- la navbar change en fonction de si l'utilisateur est connecté ou non -->
            {% if isLoggedIn =="false" %}

            <header class="header">
                <a href="{{ url_for('index')}}">    
                    <div id="flopple">
                        <p>f</p>
                        <p>l</p>
                        <p>o</p>
                        <p>p</p>
                        <p>p</p>
                        <p>l</p>
                        <p>e</p>
                    </div>
                </a>
                <nav class="login_register">
                    <ul>
                        <li><a href="{{ url_for ('login') }}">Connexion</a></li>
                        <li><a href="{{ url_for ('register') }}" title="Première connexion">Créer un compte</a></li>
                    </ul>
                </nav>
            </header>

            {% else %}

            <header class="header">
            
                <a href="{{ url_for('index')}}">    
                  <div id="flopple">
                        <p>f</p>
                        <p>l</p>
                        <p>o</p>
                        <p>p</p>
                        <p>p</p>
                        <p>l</p>
                        <p>e</p>
                    </div>
                </a>

                <nav class="logout">
                    
                    <div id=floppa-coins>
                        <p>{{floppaCoinsAmount}}x</p>
                        <img id=floppa-coin src="{{url_for('static',filename='media/floppa_coin.png')}}">
                        <div id=floppa-textbox>
                            <p>Vous avez {{floppaCoinsAmount}} Floppa Coins</p>
                        </div>
                    </div>

                    {%if bingusFragments==0 %}
                    <div id=bingus>
                        <img id=bingus-img src="{{url_for('static',filename='media/bingus_fragments_0.png')}}">
                        <div id=bingus-textbox>
                            <p>Vous n'avez aucun fragment de Bingus</p>
                        </div>
                    </div>

                    {%elif bingusFragments==1 %}
                    <div id=bingus>
                        <img id=bingus-img src="{{url_for('static',filename='media/bingus_fragments_1.png')}}">
                        <div id=bingus-textbox>
                            <p>Vous avez 1 fragment de Bingus</p>
                        </div>
                    </div>

                    {%elif bingusFragments==2 %}
                    <div id=bingus>
                        <img id=bingus-img src="{{url_for('static',filename='media/bingus_fragments_2.png')}}">
                        <div id=bingus-textbox>
                            <p>Vous avez 2 fragments de Bingus</p>
                        </div>
                    </div>
                    
                    {%elif bingusFragments==3 %}
                    <div id=bingus>
                        <img id=bingus-img src="{{url_for('static',filename='media/bingus_fragments_3.png')}}">
                        <div id=bingus-textbox>
                            <p>Vous avez 3 fragments de Bingus</p>
                        </div>
                    </div>

                    {%endif%}
                    <a href="{{ url_for ('replays') }}">Historique</a>                        
                    <a href="{{ url_for ('gallery') }}">Galerie</a> 
                    <a href="{{ url_for ('loterie') }}">Loterie</a> 
                    <a href="{{ url_for ('logout') }}">Déconnexion</a>                        

                </nav>

            </header>

            {% endif %}
        <!-- CORPS -->
            <div class="body">
            {% block body %}{% endblock %}
            </div>
        <!-- FOOTER -->
            <footer class="footer">
                <a href="mailto:norman.assing@hotmail.com">Nous Contacter</a>
                <a href="#">Haut de la page</a>
                <a href="{{ url_for ('about') }}">À propos</a>
            </footer>
        </div>   
    </body>
</html>
