{% extends "layout.html" %}

{% block link %}
            <link rel="stylesheet" href="{{ url_for('static', filename='styles/looser.css') }}"/>
{% endblock %}

{% block body%}

<div class="bloc">
    <div id="the-end">
        <div><p>Sorry {{ username }},</p></div>
        <div><p>You have accumulated three Bingus fragments.</p></div>
        <div><p>Bingus is unfortunately not welcomed on this site.</p></div>
        <div><p>Your account has been corrupted and must be destroyed !</p></div>
        <div><p>For the sake of everyone, your accound has been deleted, and no going back is possible.</p></div>
    </div>
    
    <div id="floppa-pic">
        <img src="{{url_for('static',filename='media/crying_flopp.jpg')}}">
    </div>
    
    <a href="{{ url_for('register')}}">
        <div class="exit-button">    
            <p>Create a new account here</p>
        </div>
    </a>

    <a href="{{ url_for('index')}}">
        <div class="exit-button">    
            <p>Back to Home</p>
        </div>
    </a>

</div>

<script type="text/javascript">
        setTimeout(() => {document.getElementById("the-end").children[0].style.visibility="visible";} , 1500);
        setTimeout(() => {document.getElementById("the-end").children[1].style.visibility="visible";} , 2500);
        setTimeout(() => {document.getElementById("the-end").children[2].style.visibility="visible";} , 3500);
        setTimeout(() => {document.getElementById("the-end").children[3].style.visibility="visible";} , 4500);
        setTimeout(() => {document.getElementById("the-end").children[4].style.visibility="visible";} , 5500);
        setTimeout(() => {document.getElementById("the-end").children[4].style.visibility="visible";} , 6500);
        setTimeout(() => {document.getElementById("floppa-pic").style.visibility="visible";} , 7500);
    </script>

{% endblock %}