{% extends "layout.html" %}
{% block link %}
            <link rel="stylesheet" href="{{ url_for('static', filename='styles/loterie.css') }}"/>
{% endblock %}

{% block body%}

<h1>The Floppa Vending Machine</h1>
<div class="bloc">
	
			<form action="{{url_for('loterie')}}" method='POST' id="form">
				<p>How many Floppa Coins do you want to use ?</p>
				<div class = "select-style">
					<select name="Nombre de coins">
						<option class="option" selected>1</option>
						<option class="option">3</option>
						<option class="option">5</option>
					</select>
				</div>

				<div id=floppaMachine>
					<img src="{{ url_for('static',filename='media/floppaMachineNormal.png')}}">
				</div>

				<div id="machineButton">
                	<p><input type="submit" value="Tourne la roue !"></p>
				</div>
			</form>
</div>
<div id="msg">
	<p>{{msg}}</p>
</div>

{% endblock %}

