{% extends "layout.html" %}
{% block link %}
            <link rel="stylesheet" href="{{ url_for('static', filename='styles/resultats_loterie.css') }}"/>
{% endblock %}

{% block body%}

<div class="bloc">
        <div id=floppaMachine>
            <img src="{{ url_for('static',filename='media/floppaMachineNormal.png')}}" id="floppaMachineImg">
        </div>
</div>


<div class="result" style="display:none">
    {% if earned == "image" %}
        <p>Félicitation, vous venez de gagner cette magnifique image !</p>
        <img src="/static/media/floppictures/{{rarity}}/{{address}}">
        <p>Cette image est {{rarity}}</p>
    {% endif %}

    {% if earned == "floppa" %}
        <p>Pas d'image pour vous, mais vous repartez avec un Floppa Coin !</p>
        <img src="{{ url_for('static', filename='media/floppa_money.jpg') }}">
    {% endif %}

    {% if earned == "bingus" %}
        <p>Pas d'image pour vous ... mais au moins vous perdez un fragment de Bingus, vive Floppa !</p>
        <img src="{{ url_for('static', filename='media/bingus.jpg') }}">
    {% endif %}

    <div id=return-button>
        <a href="{{url_for('index')}}">Revenir à l'accueil</a>
    </div>


</div>
<!--<p>{{msg}}</p>-->

<script type="text/javascript">

    var machine = document.getElementById('floppaMachineImg');    //Directement la balise img
    var machineNormalImgSrc = "{{ url_for('static', filename='media/floppaMachineNormal.png') }}";
    var machineTurnedImgSrc = "{{ url_for('static', filename='media/floppaMachineTurned.png') }}";
    var machineWithPrizeImgSrc = "{{ url_for('static', filename='media/floppaMachineWithCapsule.png') }}";
    var capsuleMP3 = new Audio("{{url_for('static',filename='media/audio/capsuleDrop.mp3')}}");
    var coinMP3 = new Audio("{{url_for('static',filename='media/audio/coin.mp3')}}");
 

    setTimeout(() => {machine.src = machineTurnedImgSrc;} , 1000);
    setTimeout(() => {coinMP3.play();} , 1000);
    setTimeout(() => {machine.src = machineNormalImgSrc;} , 3000);
    setTimeout(() => {machine.src = machineWithPrizeImgSrc;} , 4500);
    setTimeout(() => {capsuleMP3.play();} , 4500);
    setTimeout(() => {document.getElementsByClassName("bloc")[0].style.display = "none";} , 6500);
    setTimeout(() => {document.getElementsByClassName("result")[0].style.display = "flex";} , 6500);
 
</script>


{% endblock %}