.body {
    background-size: cover ;
    background-position: right;
    
}

.body h1 {
	font-size: 2vw;
    color: brown;
    text-align: center;
    background: rgba(240, 246, 255,0.7);
	padding: 20px;
	border-radius: 10px;
    justify-content:baseline;
}

.body .bloc {
    /*background: rgba(43, 99, 183, 0.7);*/
	padding: 20px;
	border-radius: 10px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    justify-content: center;
    height: 60%;
}
.body p{
	font-size: 1vw;
    color: black;
    padding-bottom: 20px;
    margin-left: auto;
    margin-right: auto;
}



.select-style {
    padding: 0;
    margin: 20px;
    border: 1px solid #ccc;
    width: 120px;
    border-radius: 5px;
    overflow: hidden;
    background-color: #fff;
    background: #fff;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    
}
.select-style select {
    padding: 5px 8px;
    width: 130%;
    border: none;
    box-shadow: none;
    background-color: transparent;
    background-image: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}
.select-style:after {
    top: 50%;
    left: 85%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
    border-color: rgba(0, 0, 0, 0);
    border-top-color: #000000;
    border-width: 5px;
    margin-top: -2px;
    z-index: 100;
    
}
.select-style select:focus {
    outline: none;
}

.body #msg{
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
}

.body .bloc #machineButton{
    justify-content: center;
    display: flex;
}

#floppaMachine img
{
    height: 50vh;
}